:root {
    --background-color: rgb(231, 230, 230);
    --square-water-color: rgb(135, 171, 219);
    --square-ship-color: rgb(24, 19, 19);
    --square-unknown-color: rgb(91, 91, 112);
    --square-shot-ship-color: rgb(165, 53, 53);
    --square-shot-none-color: rgb(226, 226, 157);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    height: 100%;
}

body {
    background-color: var(--background-color);
    min-width: fit-content;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.grid {
    display: grid;
}

header {
    text-align: center;
    font-size: 1.5rem;
    padding: 40px 0 24px;
}

.actions {
    justify-content: center;
    gap: 8px;
}

button {
    padding: 8px 16px;
    border-radius: 10px;
    border: 2px solid black;
}

button:hover, #Player-2-board .square:hover  {
    filter: brightness(0.9);
}

main {
    padding: 40px 160px;
    gap: 24px;
    flex-wrap: wrap;
}

main > * {
    flex-grow: 1;
}

.field {
    align-items: center;
    gap: 20px;
}

.field > .title {
    font-weight: bold;
}

.board {
    min-height: 400px;
    min-width: 400px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 4px;
}

.square {
    border-radius: 8px;
    background-color: var(--square-water-color);
}

.square.unknown {
    background-color: var(--square-unknown-color);
}

.square.ship {
    background-color: var(--square-ship-color);
}

.square.shot.ship {
    background-color: var(--square-shot-ship-color);
}

.square.shot {
    background-color: var(--square-shot-none-color);
}

#win-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 12px;
}

#win-dialog[open]::backdrop {
    filter: brightness(0.9);
}

#close-win-dialog {
    position: absolute;
    top: 4px;
    right: 4px;
    border: none;
    aspect-ratio: 1/1;
}

#close-win-dialog:focus-visible {
    outline: none;
}

#close-win-dialog:hover {
    filter: none;
}

#win-dialog > h1 {
    position: relative;
    z-index: 2;
}

#ship-container {
    gap: 20px;
    flex-wrap: wrap;
    max-width: 400px;
    justify-content: center;
    margin-top: 8px;
}

#ship-container[data-orientation="down"] > .ship {
    flex-direction: column;
}

#ship-container[data-orientation="right"] > .ship {
    flex-direction: row;
}

#ship-container > .ship {
    gap: 4px;
}

#ship-container .square{
    width: 36.39px;
    height: 36.39px;
}

.dragging {
    opacity: 0;
}

.square.dragover {
    filter: brightness(0.5);
}